.entry-thumbnail {
	max-width: var(--contents-full-width);
	margin: var(--contents-element-margin) auto;
	text-align: center;
}

@media (--window-large) {
	.entry-thumbnail {
		padding-left: var(--contents-side-margin-pc);
		padding-right: var(--contents-side-margin-pc);
		margin-bottom: var(--contents-element-margin-pc);
	}
}
