.site-footer {
	background: var(--primary-color);
	color: var(--white);
	font-size: 15px;
}

.site-footer__inner {
	padding: 30px var(--contents-side-margin);
	max-width: var(--contents-full-width);
	margin: 0 auto;
}

.site-footer a {
	color: var(--white);
	text-decoration: none;
}

.site-footer a:hover {
	text-decoration: underline;
}

.site-footer__nav {
	border-top: 1px solid var(--white);
	border-bottom: 1px solid var(--white);
	margin-top: 50px;
	padding: 15px 0 20px;
	font-size: 14px;
}

.site-footer__nav,
.site-footer__nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.site-footer__nav li {
	margin-right: calc( var(--contents-element-margin) * 2 );
}
