.site-logo {
	margin: 0;
	font-size: 18px;
	color: var(--white);
	display: flex;
	align-items: center;
}

.site-logo a {
	color: var(--white);
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
}

@media (--window-large) {
	.site-logo {
		padding-left: 10px;
	}
}

.site-logo .custom-logo {
	flex-basis: 67px;
}
