[class*="wp-block"] {
	margin-top: var(--contents-element-margin);
	margin-bottom: var(--contents-element-margin);
}

[class*="wp-block"]:not([class*="__inner-container"]) > [class*="wp-block"] {
	margin-top: 0;
	margin-bottom: 0;
}

.editor-writing-flow [class*="wp-block"] {
	margin-top: 0;
	margin-bottom: 0;
}

.wp-block-group.is-style-resource .wp-block-group__inner-container {
	margin: 30px 15px;
}

@media screen and (min-width: 769px) {
	.wp-block-group.is-style-resource .wp-block-group__inner-container {
		max-width: 1000px;
		margin: 60px auto;
		padding: 0 10px;
	}

	.wp-block-group.is-style-resource p {
		margin: 30px 0 35px;
	}

	.wp-block-group.is-style-resource h3 {
		margin: 0 0 30px;
	}
}
