.wp-block-button__link {
	min-width: 210px;
	position: relative;
	background: var(--primary-color);
	padding: calc( var(--contents-element-margin) / 1.5 ) var(--contents-element-margin);
	padding-right: calc(var(--contents-element-margin) * 2.5);
	transition: opacity var(--hover-transition-time);
}

.wp-block-button__link:hover {
	opacity: var(--hover-opacity);
}

.is-style-outline .wp-block-button__link {
	background: transparent;
}

.is-style-outline .wp-block-button__link.has-red-background-color {
	border-color: #760303;
}

.is-style-outline .wp-block-button__link.has-blue-background-color {
	border-color: #031E76;
}

.is-style-outline .wp-block-button__link.has-green-background-color {
	border-color: var(--primary-color);
}

.is-style-outline .wp-block-button__link.has-purple-background-color {
	border-color: #6D0376;
}

.is-style-outline .wp-block-button__link.has-yellow-background-color {
	border-color: #727603;
}

.is-style-outline .wp-block-button__link.has-dark-gray-background-color {
	border-color: var(--secondary-color);
}

.is-style-outline .wp-block-button__link.has-light-gray-background-color {
	border-color: var(--light-gray);
}

.wp-block-button__link::after {
	content: '';
	background: url(../../../../assets/images/button-arrow.svg);
	width: 15px;
	height: 5px;
	display: block;
	position: absolute;
	right: calc( var(--contents-element-margin) );
	top: 50%;
	transform: translateY(-50%);
}

.wp-block-button.is-style-outline .wp-block-button__link::after {
	background: url(../../../../assets/images/button-arrow-bk.svg);
}
