.vertical-post {
	margin: var(--contents-element-margin) 0;
}

.vertical-post a {
	text-decoration: none;
}

@media (--window-medium) {
	.vertical-post a {
		display: flex;
	}
}

.vertical-post__thumb {
	text-align: center;
}

@media (--window-medium) {
	.vertical-post__thumb {
		flex-basis: 35%;
	}
}

@media (--window-large) {
	.vertical-post__thumb {
		flex-basis: 40%;
	}
}

.vertical-post__content {
	margin-top: 10px;
}

@media (--window-medium) {
	.vertical-post__content {
		margin-top: 0;
		flex-basis: calc(65% - var(--contents-element-margin));
		margin-left: var(--contents-element-margin);
	}
}

@media (--window-large) {
	.vertical-post__content {
		flex-basis: calc(60% - var(--contents-element-margin));
	}
}

.vertical-post__title {
	margin: 5px 0 0;
	padding-left: 0;
	font-size: 26px;
}

.vertical-post__title::before {
	content: normal;
}

.vertical-post__excerpt {
	font-size: 16px;
}

.vertical-post__excerpt * {
	margin: 5px 0;
}

.vertical-post__date {
	color: #026d76;
	font-size: 14px;
	margin: 5px 0 0;
}
