@charset "UTF-8";

@import 'variable.css';

@import 'foundation/_elements.css';
@import 'foundation/_alignment.css';
@import 'foundation/_font.css';

@import 'component/blocks/_blocks.css';
@import 'component/blocks/_button.css';
@import 'component/blocks/_code.css';
@import 'component/blocks/_columns.css';
@import 'component/blocks/_cover.css';
@import 'component/blocks/_file.css';
@import 'component/blocks/_gallery.css';
@import 'component/blocks/_group.css';
@import 'component/blocks/_image.css';
@import 'component/blocks/_latest-comments.css';
@import 'component/blocks/_latest-posts.css';
@import 'component/blocks/_media-text.css';
@import 'component/blocks/_postit.css';
@import 'component/blocks/_pullquote.css';
@import 'component/blocks/_quote.css';
@import 'component/blocks/_separator.css';
@import 'component/blocks/_spacer.css';
@import 'component/blocks/_table.css';
@import 'component/blocks/advanced-posts-blocks/_children.css';

@import 'component/parts/_card.css';

.wp-block {
	max-width: 1024px !important;
}

.wp-block[data-align="wide"] {
	max-width: 1200px !important;
}

.wp-block[data-align="full"] {
	max-width: none !important;
}

.editor-writing-flow {
	font-size: var(--font-size-default);
}

.blocks-gallery-item {
	padding: 0;
}

.blocks-gallery-item::before {
	content: normal;
}
