@custom-media --window-small (max-width: 599px);
@custom-media --window-medium (min-width: 600px);
@custom-media --window-large (min-width: 960px);
@custom-media --window-full (min-width: 1200px);

:root {
	--primary-color: #012C2F;
	--secondary-color: #111;
	--text-color: #000;
	--white: #FFF;

	--font-size-default: 18px;
	--font-size-small: 14px;

	--contents-full-width: 1210px;
	--contents-block-margin: 60px;
	--contents-side-margin: 20px;
	--contents-element-margin: 20px;
}

